.header, .bottom-container {
  overflow: hidden;
  background-color: black;
  border-bottom: 0.5px groove rgb(49, 48, 48);
  padding: 20px 30px;
}

.header a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}

.header .search-container {
  float: right;
}

.header input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
  border: 0.5px groove rgb(83, 83, 83);
}

.header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background: #1b1b1b;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border: 0.5px groove rgb(83, 83, 83);
}

.topnav .search-container button:hover {
  background: #2b2a2a;
}

.navigation {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  justify-content: center
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#toggle-button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black;
}

li a:hover {
  background-color: #111;
}

.title {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 45%;
  margin-left: 45%;
  color: white;
}

h3 {
  position: static;
  border-bottom: 3px solid black;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.imageAndText {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}

.container {
  display:flex;
}

.container2 {
  display: flex;
}

.imageAndText2 {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.imageAndText3 {
  margin-left: 30px;
}

.imageAndText4 {
  margin-right: 30px;
}


.bottom-container input[type=text] {
  padding: 6px;
  width: 500px;
  height: 30px;
  border: none;
  border: 0.5px groove rgb(83, 83, 83);
}

.bottom-container .email-container button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background: #1b1b1b;
  font-size: 26px;
  border: none;
  cursor: pointer;
  border: 0.5px groove rgb(83, 83, 83);
}

.bottom-container .email-container {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body {
  margin:0%;
}

.bottom-navigation {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.bottom {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.hidden {
  display: none;
}

.parag {
  font-size: 14px; 
  font-family: Cursive, serif; 
  margin:0%;
}

.paragraf {
  color: white; margin-left: 20%; margin-right: 20%; margin-top: 2%; justify-content: center; font-size: 30px; text-align: justify;
        text-align-last: center;
}

.subscribe {
  color: white; display: flex; margin-top: 2%; justify-content: center; font-size: 23px;
}