html {
    height: 100%;
  }
  
  body {
    background-image: url('/background.jpg');
    margin: 0%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  
  header {
    background-color: #242633;
    display: flex;
    justify-content: space-around;
    height: 20%;
  }
  
  .darkLogo {
    width: 300px;
  }
  
  .home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    h1 {
      color: white;
      margin-bottom:50px;
      margin-top: 30px;
      font-size: 50px;
      text-align: center;
    }

    .home-page-button{
      border:none;
      background-color: #242633;
      font-size: 50px;
      color: white;
      text-align: center;
      text-decoration:double;
      padding: 25px 40px;
      margin-bottom: 30px;
      font-size: 30px;
    }

    .home-page-button:hover{
      background-color: #242633c2;
    }
  }
  
  a {
    display: flex;
    justify-content: space-around;
  }

  .cookbook-page-title {
    color: white;
    margin:30px;
    display: flex;
    justify-content: center;
  }
  
  .cookbook-page-container {
    display: flex;
    flex-direction: column;

    h1 {
      color: white;
      margin-bottom: 30px;
      margin-top: 35px;
      font-size: 40px;
      text-align: center;
    }
  }

  html > body > div{
    height: 100%;
  }

 .cook-page {
  height: 100%;
  background-image: url('/arena.jpg');

  .cook-page-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;

    .recipe-side {
      padding-left: 80px;
      border-left-style: solid;
      border-left-width: thin;
      border-left-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .recipe-cook-page {
        font-size: 30px;
        background-color: #242633;
        margin-right: 20px;
        padding: 20px 20px 0px;
        width: 450px;

        .recipe-content-cook-page {
          overflow: auto;
          padding: 0 5px 0 15px;

        }

        .ingredient-container {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}