html {
    height: 100%;
  }
  
  body {
    background-image: url('/background.jpg');
    margin: 0%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  
  header {
    background-color: #242633;
    display: flex;
    justify-content: space-around;
  }
  
  .darkLogo {
    width: 50%;
  }
  
  .home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;

    h1 {
      color: white;
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 50px;
      text-align: center;
    }

    .home-page-button{
      border:none;
      background-color: #242633;
      font-size: 20px;
      color: white;
      text-align: center;
      text-decoration:double;
      padding: 25px 40px;
      margin-bottom: 5%;
    }

    .home-page-button:hover{
      background-color: #242633c2;
    }
  }
  
  a {
    display: flex;
    justify-content: space-around;
  }

  .cookbook-page-title {
    color: white;
    margin:3%;
    display: flex;
    justify-content: center;
  }
  
  .cookbook-page-container {
    display: flex;
    flex-direction: column;

    h1 {
      color: white;
      margin-bottom: 5%;
      margin-top: 5%;
      font-size: 50px;
      text-align: center;
    }
  }