h5 {
    color: white;
    padding: 10px;
  }
  
  h4 {
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  #add-icon {
    margin-left: 20px;
    height: 40px;
  }
  
  .text-and-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
  }

  #remove-icon {
    height: 30px;
  }
  
  .plus-icon-button, .remove-icon-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }
  
  .header-form {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: white;
  }
  
  
  .contend-form {
    overflow-y: auto;
    height: 400px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .create-button {
    border:none;
    background-color: #ffffff;
    color: #242633;
    text-align: center;
    text-decoration:double;
    padding: 2px;
    font-size: 10px;
    width: 70px;
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: white;
  }
  
  .recipe-form {
    .create-recipe-button {
    color: white;
    text-align: center;
    text-decoration:double;
    padding: 2px;
    font-size: 18px;
    width:200px;
    }
  }

  .text-container, .button-container {
    display: flex;
  }