h5 {
    color: white;
    padding: 1.5%;
  }
  
  h4 {
    color: white;
    padding: 1.5%;
    text-align: center;
  }
  
  #add-icon {
    margin-left: 20%;
    height: 40px;
  }
  
  .text-and-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
  }
  
  .plus-icon-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }
  
  .header-form {
    padding-bottom: 1%;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: white;
  }
  
  
  .contend-form {
    overflow-y: auto;
    height: 500px;
    margin-bottom: 3%;
    margin-top: 2%;
  }
  
  .create-button {
    border:none;
    background-color: white;
    color: #242633;
    text-align: center;
    text-decoration:double;
    padding: 2px;
    font-size: 15px;
    width: 70px;
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: white;
  }
  
  .recipe-form {
    .create-recipe-button {
    color: white;
    text-align: center;
    text-decoration:double;
    padding: 2px;
    font-size: 20px;
    width:200px;
    }
  }

  .text-container, .button-container {
    display: flex;
  }