html {
  height: 100%;
}

body {
  background-image: url('/background.jpg');
  margin: 0%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

header {
  background-color: #242633;
  display: flex;
  justify-content: space-around;
}

.darkLogo {
  width: 50%;
}

.home-page-container h1, .cookbook-page-container h1 {
  color: white;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 50px;
  text-align: center;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

a {
  display: flex;
  justify-content: space-around;
}

.home-page-container .home-page-button{
  border:none;
  background-color: #242633;
  font-size: 20px;
  color: white;
  text-align: center;
  text-decoration:double;
  padding: 25px 40px;
  margin-bottom: 5%;
}

.home-page-container .home-page-button:hover{
  background-color: #242633c2;
}

.cookbook-page-title {
  color: white;
  margin:3%;
  display: flex;
  justify-content: center;
}

.cookbook-page-container {
  display: flex;
  flex-direction: column;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  .recipe-container {
    background-color:#242633;
    margin-bottom: 3%;
    padding: 50px 30px 10px;
    font-size: large;
    width: 300px;
    height: 400px;
  }
}

.Brightness1Icon, .Brightness2Icon{
  color: white;
  margin-right: 10px;
}

li {
  list-style: none;
}

.ingredient-title {
  color: white;
  padding: 3px;
}

.cook-button{
  border:none;
  background-color: white;
  color: #242633;
  text-align: center;
  text-decoration:double;
  padding: 5px 10px;
  font-size: 15px;
  width: 70px;
}

.header-card {
  color: white;
  margin: 0%;
  text-align: center;
}

.content-card {
  height: 300px;
  overflow: auto;
  padding: 0 35px 0 40px;
}

.footer-card {
  display: flex;
  justify-content: flex-end;
}

.content-card::-webkit-scrollbar {
  width: 8px;
}

.content-card::-webkit-scrollbar-track {
  background: #e2e9f7; 
}
 
.content-card::-webkit-scrollbar-thumb {
  background: #5c5e6d; 
}

::-webkit-scrollbar-button:single-button {
  background-color: transparent;
  display: block;
  border-style: solid;
  height: 15px;
  width: 15px;
}

.content-card::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 4px 15px 4px;
  border-color: transparent transparent #5c5e6d transparent;
}

.content-card::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 15px 4px 0 4px;
  border-color: #5c5e6d transparent transparent transparent;
}


.ingredient-container{
  display: flex;
  align-items: flex-start;
}